@import url('https://fonts.cdnfonts.com/css/snell-roundhand');
@import url('https://fonts.cdnfonts.com/css/athelas');


.promo-link {
    align-self: center !important;
}

.no-link-styles {
    text-decoration: none;
    color: black !important;
}

.promo-top {
    height: 24px !important;
    background-color: #F07818 !important;
    position: sticky !important;
}

.nav-btn-cross {
    margin-top: -5px !important;
    padding: 0px !important;
    border: none !important;
}

.sticky-top {
    z-index: 1000 !important;
}

.stcky {
    z-index: 1020 !important;
}

.stcky-blw {
    top: 24px !important;
}

.nav-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.408) !important;
}

.navbar-dir {
    flex-direction: row !important;
}

.navbar-dir-store {
    margin: auto 10px auto 8px !important;
}

.navbar-dir-about {
    margin: auto 10px auto 6px !important;
}

.navbar-dir-contact {
    margin: auto 0px auto 6px !important;
}

.margin-nav {
    padding: 0px !important;
}

.togg-btn {
    border: none !important;
}

.color {
    background-color: white !important;
}

.icon-size {
    height: 35px !important;
    padding-right: 10px !important;
}

.logo {
    display: inline-flex !important;
    margin: 9px auto 1px auto !important;
}

.rgt-elements {
    display: inline-flex;
}

.up-text {
    margin: auto !important;
}

.down-text {
    text-align: center !important;
    margin: -5px auto 7px !important;
    font-size: 10px !important;
}

.div-float-shower {
    padding: 0px;
}

.nav-form-control {
    padding: 1px !important;
    outline: none !important;
    height: 25px !important;
    margin: 4px 20px 4px auto !important;
    position: relative !important;
}

.nav-form-span {
    padding: 0px !important;
}

.nav-form-btn {
    padding: 2px 12px 8px 12px !important;
    height: 20px !important;
    border: none !important;
}

.nav-form-svg {
    margin: -3px auto 10px auto !important;
}

.form-brd {
    border: white !important;
}

.fnt {
    font-family: 'Raleway', sans-serif !important;
}

.fnt-elements {
    font-size: 16px !important;
}

.fnt-t {
    font-size: 18px !important;
    font-family: 'Snell Roundhand', sans-serif !important;
}

.fnt-sub {
    font-family: 'Athelas', sans-serif !important;
    font-size: 12px !important;
}

.fnt-input,
.fnt-input::placeholder {
    font-size: 13px !important;
}

.navbar-collapse {
    flex-grow: initial !important;
}

.nav-external-element {
    position: absolute !important;
}

.nav-search-link {
    padding: 0px 2px !important;
    margin-top: 4px !important;
    border: none !important;
}

.inpt-elem {
    outline: none !important;
    width: 200px !important;
    height: 21px !important;
    padding-left: 10px !important;
}

.nav-shop-icon {
    margin-right: 5px !important;
}

/*Inactive*/

.collapse:not(.show) {
    display: inline;
}

.nav-user {
    display: inline;
}

.nav-user-list {
    display: inline !important;
}

.nav-user-dropdown {
    display: inline !important;
}

.user-style {
    background-color: #FCEBB6;
}

.nav-user-icon {
    display: inline;
    padding: 0px !important;
    position: relative !important;
}

.nav-user-dropdown-list {
    margin-top: 8px !important;
    position: absolute !important;
}

/* Active */
.nav-useractive {
    display: inline;
}

.nav-useractive-list {
    display: inline !important;
}

.nav-useractive-dropdown {
    display: inline !important;
}

.nav-link {
    color: black;
}

.nav-useractive-icon {
    display: inline;
    padding: 0px !important;
    position: relative !important;
}

.nav-useractive-dropdown-list {
    margin-top: 8px !important;
    position: absolute !important;
}

.nav-language {
    display: inline !important;
}

.nav-language-list {
    display: inline !important;
}

.nav-language-dropdown {
    display: inline !important;
}


.nav-language-icon {
    display: inline !important;
    padding: 0px !important;
    position: relative !important;
}

.nav-language-dropdown-list {
    margin-top: 8px !important;
    position: absolute !important;
}

.nav-external-element {
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 5px #09090985;
    width: 214px;
    height: 589px !important;
    box-sizing: border-box;
    padding-left: 25px;
    margin-left: -50px !important;
}

.nav-external-element.show {
    animation: fade-in 0.8s ease-in-out;
    opacity: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.upper-external {
    margin-top: 40px !important;
}

.bottom-external {
    margin-top: 180px !important;
}

.nav-brd {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.float-logo {
    margin: 20px auto !important;
}

.float-logo-btn {
    position: absolute !important;
    margin-left: 140px !important;
    margin-top: -10px !important;
    border: none !important;
}

.float-search {
    padding: 1px !important;
    outline: none !important;
    height: 25px !important;
    margin: 20px 25px 4px auto !important;
    position: relative !important;
}

.float-search-input {
    outline: none !important;
    width: 140px !important;
    height: 21px !important;
    padding-left: 10px !important;
}

.float-search-span {
    padding: 0px !important;
    margin-left: -18px !important;
    width: 30px !important;
}

.float-search-btn {
    padding: 3px 12px 8px 12px !important;
    height: 20px !important;
    border: none !important;
    width: 30px !important;
}

.float-search-svg {
    margin-top: -13px !important;
    margin-left: -6px !important;
}

.float-elements-menu {
    position: absolute !important;
    margin-left: 130px !important;
    border: none !important;
}


@media(min-width: 390px) and (max-width: 1203px) {

    .nav-brd {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .nav-external-element {
        margin-left: -25px !important;
    }
}

@media(min-width: 1200px) and (max-width: 1261px) {

    .inpt-elem {
        width: 150px !important;
    }
}

@media(max-width: 1199px) {

    .inpt-elem {
        width: 125px !important;
    }
}

@media(max-width: 560px) {
    .search-icon {
        margin-bottom: 5px;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 22px !important;
        height: 22px !important;
    }

    .promo-link {
        font-size: 14px;
        position: relative;
        top: 1px;
    }
}

@media(max-width: 474px) {
    .search-icon {
        margin-bottom: 5px;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .promo-link {
        font-size: 13px;
        position: relative;
        top: 2px;
    }
}

@media(max-width: 446px) {
    .search-icon {
        margin-bottom: 5px;
    }

    .nav-icons {
        padding-left: 0px;
        margin-left: -10px;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 19px !important;
        height: 19px !important;
    }

    .promo-link {
        font-size: 11px;
        position: relative;
        top: 3px;
    }
}

@media(max-width: 436px) {
    .text-logo {
        width: 106px;
        margin-left: -5px;
    }
}

@media(max-width: 423px) {
    .search-icon {
        margin-bottom: 5px;
    }

    .nav-icons {
        padding-left: 0px !important;
        margin-left: -15px !important;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 17px !important;
        height: 17px !important;
    }

}

@media(max-width: 390px) {
    .nav-brd {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .nav-external-element {
        margin-left: -15px !important;
    }

    .promo-link {
        font-size: 10px;
        position: relative;
        top: 5px;
    }

    #promoButton {
        position: relative;
        right: 15px;
    }
}


@media(max-width: 367px) {
    .nav-icons {
        padding-left: 0px;
        margin-left: -15px;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 17px !important;
        height: 17px !important;
    }

    .fnt-t {
        font-size: 14px !important;
    }

    .fnt-sub {
        font-size: 10px !important;
        margin-left: -9px !important;
    }

}

@media(max-width: 341px) {
    .nav-icons {
        padding-left: 0px;
        margin-left: -20px !important;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 17px !important;
        height: 17px !important;
    }

    .fnt-t {
        font-size: 12px !important;
    }

    .fnt-sub {
        font-size: 10px !important;
        margin-left: -38px !important;
    }

    .promo-link {
        font-size: 9px;
        position: relative;
        top: 5px;
    }

}

@media(max-width: 346px) {
    .nav-icons {
        padding-left: 0px;
        padding-right: 0px !important;
        margin-left: -25px !important;
        width: 93px !important;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 14px !important;
        height: 14px !important;
    }

    .fnt-t {
        font-size: 10px !important;
    }

    .fnt-sub {
        font-size: 8px !important;
        margin-left: -38px !important;
    }

}

@media(max-width: 311px) {
    .promo-link {
        display: none;
    }

    .promo-link2{
        display: block !important;
        font-size: 8px;
        position: relative;
        top: 6px;
    }
    #promoButton {
        position: relative;
    }

}

@media(max-width: 250px) {
    .nav-icons {
        padding-left: 0px;
        padding-right: 0px !important;
        margin-left: -25px !important;
        width: 93px !important;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 12px !important;
        height: 12px !important;
    }

    .fnt-t {
        font-size: 8px !important;
    }

    .fnt-sub {
        font-size: 6px !important;
        margin-left: -48px !important;
    }

    .logo {
        margin-left: 35px !important;
    }

    .nav-toggler-svg,
    #float-button {
        width: 20px !important;
    }

    .nav-brd {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .promo-link {
        font-size: 6px;
        position: relative;
        top: 3px;
    }
}

@media(max-width: 228px) {
    .nav-icons {
        padding-left: 0px;
        padding-right: 0px !important;
        margin-left: -50px !important;
        width: 93px !important;
    }

    .search-icon,
    .nav-shop-icon,
    .nav-user-icon,
    .nav-useractive-icon,
    .nav-language-icon {
        width: 10px !important;
        height: 10px !important;
    }

    .fnt-t {
        font-size: 7px !important;
    }

    .fnt-sub {
        font-size: 6px !important;
        margin-left: -58px !important;
    }

    .logo {
        margin-left: 25px !important;
    }

    .nav-toggler-svg,
    #float-button {
        width: 11px !important;
    }

    .nav-brd {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}