@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');



@media (max-width: 644px) {

    #myBagContent{  
        


        max-width: fit-content;
         
        padding: 0;   
        margin: 0 auto;
    }

    #myBagContent{  
        max-width: fit-content;  
        margin: 0 auto;
    }

    
    #myBagContent460{  
        max-width: fit-content;
         
        padding: 0;   
        margin: 0 auto;
    }

  

    #orderCompraCard{
    
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        text-align: center;
        height: max-content;
        max-width: fit-content;
        margin: 0 auto;  

    }

    #myBagContentMobile{
        max-width: fit-content;
        margin: 0 auto;  

    }

 


}


@media screen and (min-width: 644px) and (max-width: 867px) {

   

    #myBagContent{
        padding: 0;
        margin: 0 auto; 
        height: fit-content;
        max-width: fit-content;
        width: max-content;
    
      
        
        
    }

    
    #myBagContent460{
        padding: 0;
        margin: 0 auto; 
        height: fit-content;
        max-width: fit-content;
        width: max-content;
    
      
        
        
    }




    #orderCompraCard{
    
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        text-align: center;
        max-width: fit-content;
        width: max-content;
        margin: .8rem; 
        height: fit-content; 
        padding: 0;
       
    }

    #descriptionMyBag{ /*window <=460  margin: 1rem;*/
        margin: .8rem;
        padding: .8rem; 
    }
    
    


}





@media screen and (min-width: 867px) and (max-width: 886px) {

   

    #myBagContent{
        padding: 0;
        margin: 0 auto; 
        height: fit-content;
        max-width: fit-content;
        width: max-content;
    
      
        
        
    }

    
    #myBagContent460{
        padding: 0;
        margin: 0 auto; 
        height: fit-content;
        max-width: fit-content;
        width: max-content;
    
      
        
        
    }




    #orderCompraCard{
    
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        text-align: center;
        max-width: fit-content;
        width: max-content;
        margin: .8rem; 
        height: fit-content; 
       
       
    }

    #descriptionMyBag{ /*window <=460  margin: 1rem;*/
        margin: .8rem;
        padding: 0rem; 
    }
    
    


}





@media (min-width: 886px) {


    #myBagContent{  
        max-width: fit-content;
        margin: .8rem;  
        height: max-content;
    }


 

    #orderCompraCard{
        background-color: rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        text-align: center;
        height: max-content;
        width: max-content;
 
    }

    #descriptionMyBag{ /*window <=460  margin: 1rem;*/
        margin: .8rem;
        padding: 0rem; 
    }
    
    


}






/* Inicio >=865 */



#containerMyall{
    max-width:fit-content;
    padding: auto;
}

#myBagTitle{
    
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    padding: 1.2rem;
    margin: 0rem;
    margin-top: 2rem;
}

#myBagContent580{
    max-width: fit-content;
}

#myBagContent460{
    max-width: fit-content;  
}



#myBagContentMobile{
    max-width: fit-content;
}




#myBagContent2{
    padding: 0px;
    max-width: fit-content;
}

#rowMyBagContent{
    padding: 0px;
}

#containerMyBagOrder{
  margin: 0 ;
}



#productImgMyBag{
    max-width: 150px;
    margin: .8rem;   /*window <=460  margin: .8rem; */
}



#productTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.card-text{
  
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    
}



#productQuantity{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0 auto; 
    padding: .8rem; 
    width: max-content;
}

#productQuantitySelect{
    width: max-content;
    display: block;
    margin: 0 auto;
}

#productPrice{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: .8rem;  /*window <=460 este no esta*/
}

#cross-icon-button{
    border: none;
    background-color: white;
    display: block;
    max-width:fit-content;
}

#crossButton{
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: .8rem;
}



#orderCompraTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
}


hr{
        color:#5E412F ;
}

#subtotal{
    margin-top: .25rem;
}

#procederPago{
    color: black;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: #78C0A8;
    border-color: #78C0A8;
    padding: .5rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
}


