@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');



.animate__animated.animate__fadeInLeftBig {
    --animate-duration: 3s;
}

.btn-no-hover {
    border: none;
}

.btn-no-hover:focus,
.btn-no-hover:hover,
.btn-no-hover:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.btn-no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
  }

/*TAMAÑO DESKTOP*/
@media (min-width:993px) {

    .titulo {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;

    }

    .l1 {
        background-image: url(../img/bk.jpeg);
        height: 411px;
        background-size: cover;
    }

    .bienvenido {
        text-align: right;
        color: white;
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 250px;
        padding-right: 20px;
    }

    #tradicion {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 19px;
        text-align: right;
        color: white;
        padding-right: 150px;
        padding-top: 20px;

    }

    .categorias {

        padding-top: 10%;
        display: block;

    }

    .titulo-acerca {
        color: white;
        margin-top: 25%;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        opacity: 3;
        font-weight: 700;
    }

    .boton-con-borde {
        padding: 5% 7%;
        border-radius: 10px;
        border: 2px solid #ffffff;
        color: white;
        font-weight: bold;
        background-color: transparent;
        margin-left: 20%;
        margin-top: 30%;
    }

    #cojines {
        margin-left: 20px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 37%;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        /*padding-top: 10%;*/
        margin-top: -65px;
        text-align: center;
    }

    #tapetes {
        margin-left: 15px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    .topVentas {
        margin-top: 100px;
        margin-bottom: 100px;

    }


}

@media (min-width:1200px) {
    .titulo-cat {
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 5%;


    }
}

@media (min-width:993px) and (max-width:1199px) {
    .titulo-cat {
        font-size: 260%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 5%;

    }

    #cojines {
        margin-left: 8px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 25%;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #tapetes {
        margin-left: 6px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }
}


/*TAMAÑO TABLET*/
@media (min-width: 767px) and (max-width: 992px) {
    .titulo {
        font-size: 35px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .l1 {
        background-image: url(../img/bk.jpeg);
        height: 350px;
        background-size: cover;
    }

    .bienvenido {
        text-align: right;
        color: white;
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 200px;
        padding-right: 20px;
    }

    #tradicion {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 19px;
        text-align: right;
        color: white;
        padding-right: 150px;
        padding-top: 20px;

    }

    .categorias {

        padding-top: 10%;


    }

    .carousel-control-prev-icon {
        margin-left: 20px;
    }

    .pic {
        position: relative;
        overflow: hidden;

    }

    .titulo-acerca {
        color: white;
        margin-top: 30%;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        opacity: 3;
        font-weight: 700;
    }

    .boton-con-borde {
        padding: 5% 7%;
        border-radius: 10px;
        border: 2px solid #ffffff;
        color: white;
        font-weight: bold;
        background-color: transparent;
        margin-left: 15%;
        margin-top: 50%;

    }

    .titulo-cat {
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 5px;

    }

    #cojines {
        margin-left: 18px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 35%;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 1%;
        margin-top: -50%;
        text-align: center;
    }

    #tapetes {
        margin-left: 18px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    .topVentas {
        margin-top: 40px;
        margin-bottom: 80px;

    }

    .carousel-control-prev-icon {
        color: black;
    }


}

/*TAMAÑO CELULAR*/
@media (min-width:535px) and (max-width: 766px) {
    .titulo {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .l1 {
        background-image: url(../img/bk.jpeg);
        height: 300px;
        background-size: cover;
        margin: 0;
    }

    .bienvenido {
        text-align: right;
        color: white;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 150px;
        padding-right: 20px;
    }

    #tradicion {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        text-align: right;
        color: white;
        padding-right: 10px;
        padding-top: 20px;

    }

    .titulo-acerca {
        color: white;
        margin-top: 50%;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        opacity: 3;
        font-weight: 700;
    }

    .boton-con-borde {
        padding: 5% 7%;
        border-radius: 10px;
        border: 2px solid #ffffff;
        color: white;
        font-weight: bold;
        background-color: transparent;
        margin-left: 8%;
        margin-top: 75%;

    }

    #sec-acerca {
        /*background-image: url(../img/acercapagprincipal.jpeg);*/
        background-image: url(../img/a11.jpeg);
        background-size: cover;
    }

    .titulo-cat {
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 1.5px;

    }

    #cojines {
        margin-left: 18px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 40px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        margin-top: -70px;
        text-align: center;
    }

    #tapetes {
        margin-left: 14px;
        font-size: 300%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }


}

@media (max-width:534px) {
    #cojines {
        margin-left: 24px;
        font-size: 250%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 18px;
        font-size: 250%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #tapetes {
        margin-left: 20px;
        font-size: 250%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    .titulo-cat {
        font-size: 250%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 8px;

    }

}

@media (max-width:490px) {
    #cojines {
        margin-left: 24px;
        font-size: 200%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
    }

    #colchas {
        margin-left: 35px;
        font-size: 200%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        margin-top: -25px;
    }

    #tapetes {
        margin-left: 20px;
        font-size: 200%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        text-align: center;
    }

    .titulo-cat {
        font-size: 200%;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-left: 10px;

    }

}

@media (max-width:534px) {
    .titulo {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .l1 {
        background-image: url(../img/bk.jpeg);
        height: 300px;
        background-size: cover;
        margin: 0;
    }

    .bienvenido {
        text-align: right;
        color: white;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        padding-top: 150px;
        padding-right: 20px;
    }

    #tradicion {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        text-align: right;
        color: white;
        padding-right: 10px;
        padding-top: 20px;

    }

    .titulo-acerca {
        color: white;
        margin-top: 50%;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-style: bold;
        opacity: 3;
        font-weight: 700;
    }

    .boton-con-borde {
        padding: 5% 7%;
        border-radius: 10px;
        border: 2px solid #ffffff;
        color: white;
        font-weight: bold;
        background-color: transparent;
        margin-left: 8%;
        margin-top: 75%;

    }

    #sec-acerca {
        /*background-image: url(../img/acercapagprincipal.jpeg);*/
        background-image: url(../img/a11.jpeg);
        background-size: cover;
    }
}




.categorias {

    padding-top: 10%;
    display: block;

}

.imgcat {
    border-radius: 15px;
    height: 10%;

}

.imgtext {
    /*margin-top: 45px;*/
    color: white;
    width: 155px;
    height: 135px;
    padding: 0px 15px 0 15px;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.pic {
    position: relative;
    overflow: hidden;
    margin: 50px auto;

}

.pic:hover img {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    transform: scale(1.03);
}

.pic:hover .imgtext {
    -webkit-opacity: 1;
    opacity: 1;
}






#sec-acerca {
    /*background-image: url(../img/acercapagprincipal.jpeg);*/
    background-image: url(../img/a2.jpeg);
    background-size: cover;
    background-position: center center;
}

.div1 {
    /*background-color: rgb(56, 55, 55);
    opacity: .45;*/
    height: 432px;
}

.div2 {
    display: flex;
    /*justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}





/*--------------------------*/

.titulo-boton {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: bold;

}




.owl-nav {
    display: none
}

.fila-cat {
    display: flex;
    align-items: center;
    justify-content: center;
}