@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

.tituloContactanos {
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
}

.enviarBtn:hover{
    color: white;
}
/* Estos estilos son para los mensajes de error, se muestran o se ocultan gracias al display y a modificadores de clase*/
.formulario__input-error{
    display: none;
    margin-bottom: 0px;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__mensaje-exito {
    display: none;
}
.formulario__mensaje-exito-activo {
    display: block;
}
.formulario__mensaje {
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

/*Aquí empiezan las media query para la responsividad*/

@media(min-width:200px) {



    .tituloContactanos {
        font-size: 32px;
        margin-top: 43px;
    }

    .clave {
        font-family: 'Figtree', sans-serif;
        font-size: 16px;
        position: relative;
        left: 15px;

    }

    .valor {
        font-family: 'Figtree', sans-serif;
        font-size: 16px;
        position: relative;
        left: 10px;

    }

    #telefono1 {
        margin-top: 44px;
        margin-bottom: 0px;
    }

    #telefono2 {
        margin-top: 44px;
        margin-bottom: 0px;
    }

    #direccion1{
        margin-top: 25px;
        margin-bottom: 0px;
    }
    #direccion2{
        margin-top: 11px;
        margin-bottom: 0px;
    }
    #horario1{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    #horario2{
        margin-top: 11px;
        margin-bottom: 0px;

    }



    .separador {
        position: relative;
        text-align: center;
        margin-top: 25px;

        font-family: 'Figtree', sans-serif;
        font-size: 16px;
    }

    .separador::after,
    .separador::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        background-color: black;
        top: .8em;

    }

    .separador::before {
        left: 10px;
    }

    .separador::after {
        right: 10px;
    }

    .requisitos{
        font-family: 'Figtree', sans-serif;
        font-size: 16px;
        position: relative;
        left: 15px;
    }

    .colEntradas{
       margin-left: -40%; 
    }
    .entradas{
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #5E412F;
        border-radius: 10px;
        height: 29px;
        width: 100%;
         
    }

    #nombreLabel{
        margin-bottom: 0px;
    }
    #emailLabel{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #telefonoLabel{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    #mensajeLabel{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #email{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #telefono{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    #mensaje{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .colBtn{
        padding-right: 10%;
        
    }
    .enviarBtn {
        box-sizing: border-box;

        position: relative;
        height: 42px;
        width: 138px;
        margin-top: 23px;
        left: 35%;

        font-family: 'Figtree', sans-serif;
        font-size: 16px;

        background: #78C0A8;
        border: 1px solid #78C0A8;
        border-radius: 10px;
    }
    .mensajeError{
        font-family: 'Figtree', sans-serif;
        font-size: 14px;
        text-align: initial;
        margin-bottom: 0px;
    }
    .mensajeBoton{
        font-family: 'Figtree', sans-serif;
        font-size: 14px;
        text-align: center;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    ::placeholder{
        font-family: 'Figtree', sans-serif;
        font-size: 10px;
        position: absolute;
        left: 10%;
        top: 7px;

    }
}

@media(min-width: 650px) {

    .tituloContactanos {
        font-size: 40px;
        margin-top: 45px;
    }

    .clave {
        font-family: 'Figtree', sans-serif;
        font-size: 20px;
        position: relative;
        left: 56px;
    }

    .valor {
        font-family: 'Figtree', sans-serif;
        font-size: 20px;
        position: relative;
        left: 10px;

    }

    #telefono1 {
        margin-top: 47px;
        margin-bottom: 0px;
    }

    #telefono2 {
        margin-top: 47px;
        margin-bottom: 0px;
    }
    #direccion1{
        margin-top: 51px;
        margin-bottom: 0px;
    }
    #direccion2{
        margin-top: 32px;
        margin-bottom: 0px;
    }

    #horario1{
        margin-top: 45px;
        margin-bottom: 0px;
    }

    #horario2{
        margin-top: 32px;
        margin-bottom: 0px;

    }
    .separador {
        position: relative;
        text-align: center;
        margin-top: 59px;

        font-family: 'Figtree', sans-serif;
        font-size: 20px;
    }

    .separador::after,
    .separador::before {
        content: '';
        position: absolute;
        width: 45%;
        height: 1px;
        background-color: black;
        top: .8em;

    }

    .separador::before {
        
        left: 10px;
    }

    .separador::after {
        right: 10px;
    }

    .requisitos{
        font-family: 'Figtree', sans-serif;
        font-size: 20px;
        position: relative;
        left: 56px;
    }
    .colEntradas{
        margin-left: -40%; 
       
     }
    .entradas{
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #5E412F;
        border-radius: 10px;
        width: 100%;
        height: 41px;
       
    }

    #nombreLabel{
        margin-top: 54px;
        margin-bottom: 0px;
    }
    #emailLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }

    #telefonoLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }
    
    #mensajeLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }

    #nombre{
        margin-top: 44px;
        margin-bottom: 0px;
    }
    #email{
        margin-top: 44px;
        margin-bottom: 0px;
    }

    #telefono{
        margin-top: 44px;
        margin-bottom: 0px;
    }
    #mensaje{
        margin-top: 44px;
        margin-bottom: 0px;
    }
    .colBtn{
        padding-right: 10%;
        
    }
    .enviarBtn {
        box-sizing: border-box;

        position: relative;
        height: 52px;
        width: 158px;
        margin-top: 31px;
        left: 45%;

        font-family: 'Figtree', sans-serif;
        font-size: 20px;

        background: #78C0A8;
        border: 1px solid #78C0A8;
        border-radius: 10px;
    }

    .mensajeError{
        font-family: 'Figtree', sans-serif;
        font-size: 18px;
        text-align: initial;
    }

    .mensajeBoton{
        font-family: 'Figtree', sans-serif;
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    ::placeholder{
        font-family: 'Figtree', sans-serif;
        font-size: 15px;
        position: absolute;
        left: 8%;
        top: 10px;

    }
    
}

@media(min-width: 960px) {

    .tituloContactanos {
        font-size: 64px;
        margin-top: 22px;
    }

    .clave {
        font-family: 'Figtree', sans-serif;
        font-size: 24px;
        position: relative;
        left: 198px;
    }

    .valor {
        font-family: 'Figtree', sans-serif;
        font-size: 24px;
        position: relative;
        left: 10px;
        

    }

    #telefono1 {
        margin-top: 45px;
        margin-bottom: 0px;
    }

    #telefono2 {
        margin-top: 45px;
        margin-bottom: 0px;
    }
    #direccion1{
        margin-top: 48px;
        margin-bottom: 0px;
    }
    #direccion2{
        margin-top: 48px;
        margin-bottom: 0px;
    }

    #horario1{
        margin-top: 48px;
        margin-bottom: 0px;
    }

    #horario2{
        margin-top: 45px;
        margin-bottom: 0px;

    }

    .separador {
        position: relative;
        text-align: center;
        margin-top: 50px;

        font-family: 'Figtree', sans-serif;
        font-size: 24px;
    }

    .separador::after,
    .separador::before {
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        background-color: black;
        top: .8em;

    }

    .separador::before {
        
        left: 50px;
    }

    .separador::after {
        right: 50px;
    }

    .requisitos{
        font-family: 'Figtree', sans-serif;
        font-size: 24px;
        position: relative;
        left: 198px;
    }
    .colEntradas{
        margin-left: -40%; 
       
     }
    .entradas{
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #5E412F;
        border-radius: 10px;
        width: 85%;
        height: 40px;
    }

    #nombreLabel{
        margin-top: 54px;
        margin-bottom: 0px;
    }
    #emailLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }

    #telefonoLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }
    
    #mensajeLabel{
        margin-top: 51px;
        margin-bottom: 0px;
    }

    #nombre{
        margin-top: 44px;
        margin-bottom: 0px;
    }
    #email{
        margin-top: 44px;
        margin-bottom: 0px;
    }

    #telefono{
        margin-top: 44px;
        margin-bottom: 0px;
    }
    #mensaje{
        margin-top: 44px;
        margin-bottom: 0px;
    }

    .colBtn{
        padding-right: 10%;
        
    }

    .enviarBtn {
        box-sizing: border-box;

        position: relative;
        height: 52px;
        width: 158px;
        margin-top: 31px;
        left: 50%;

        font-family: 'Figtree', sans-serif;
        font-size: 24px;
        
        background: #78C0A8;
        border: 1px solid #78C0A8;
        border-radius: 10px;
    }

    .mensajeError{
        font-family: 'Figtree', sans-serif;
        font-size: 22px;
        text-align: initial;
    }

    .mensajeBoton{
        font-family: 'Figtree', sans-serif;
        font-size: 22px;
        align-content: center;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 0px;
        
        
    }

    ::placeholder{
        font-family: 'Figtree', sans-serif;
        font-size: 18px;
        position: absolute;
        left: 4%;
        top: 9px;

    }

}