@media (min-width:993px){
	#subtitulo{
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 19px;
		text-align: center;
		
	}

 	#parrafo{
		font-family: 'Figtree', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 19px;
		text-align: center;
		
 	}	

	.txt{
		margin-top: 20%;
	}

	.txt1{
		margin-top: 8%;
	}
}

/*Esta media query es para pantalla de tablet*/
@media (min-width: 767px) and (max-width: 992px) { 
	#subtitulo{
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 19px;
		text-align: center;
		
		
	}

	#parrafo{
		font-family: 'Figtree', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		
		
	}

	.txt{
		margin-top:10%;
	}

	.txt1{
		margin-top:2%;
	}
	

 }



 /*Esta media query es para pantalla de celular*/
 @media (max-width: 766px) { 

	#subtitulo{
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		
		
	}

	#parrafo{
		font-family: 'Figtree', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		
		
	}

	.betw{
		
		padding-top: 44px;
	}

	.container-des{
		margin-top:40px;
	}

	.car{
		margin-top: 0px;
		margin-bottom: 30px;
	}


 }


 .container-des{
	margin-top:50px
}	

.quien{
	margin-top: 33px;
	height: 131px;
	left: 123px;
	
}

.fila{
	padding-top: 50px;
}

.car{
	margin-top: 50px;
	margin-bottom: 50px;
}

@media (min-width:993px){
video{
	height: 95vh;
	width: 100vw;
}
}